


div#content {
  
/*  background-color: purple;*/
  text-align:center;
/*  width: 900px;*/
}


#minervapic 
{
  float:right;
}

#index-intro
{
  background-color: #999966;
  text-align: left;
	font:12px georgia;
	color: #003333;
	line-height:18px;
	font-weight: bold;
  padding-left: 10px;
  padding-right: 10px;
  border: 1px solid black;
  margin: 10px;
}


#index-decaybox
{
  margin: 10px 5px 20px 10px;
   
  width:370px;
  height: 300px;
  float: left;
}

#index-conservebox
{
  margin: 10px 10px 20px 5px;
  
  width:370px;
  height: 300px;
  float: right;
}

#index-arachne
{ 
  clear:both;
  margin: 30px 10px 10px 10px;
  height: 250px;
}

#arachne-img
{
  float:right;
  margin-left: 10px;
}