


div#content {
}

#mom-1
{
  width:405px;
  min-height:500px;
  float:left;
  margin:5px;
  margin-left: 10px;
  margin-right: 10px;
}


#mom-2
{
  width:405px;
  min-height:500px;
  float:left;
  margin:5px;
  margin-left: 10px;
  margin-right: 10px;
}

#contact
{
  margin: 10px;
}

#why
{
  margin: 10px;
}

#arachne
{
  margin: 10px;
}
