


div#content {
  
/*  background-color: purple;*/
/*  text-align:center;*/
/*  width: 900px;*/
}



#who-developed
{
  width:405px;
  min-height:500px;
  float:left;
  margin:5px;
  margin-left: 10px;
  margin-right: 10px;
 }
#why
{
  width:405px;
  min-height:500px;
  float:left;
  margin:5px;
  margin-left: 10px;
  margin-right: 10px;
}

#contact
{
  width:405px;
  float:left;
  margin:5px;
  margin-left: 10px;
  margin-right: 10px;
}


#arachne
{
  width:405px;
  float:left;
  margin:5px;
  margin-left: 10px;
  margin-right: 10px;
}
